@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-dark: var(--dark);
  --color-dark2: var(--dark2);
  --color-green: var(--green);
  --color-green-hover: var(--green-hover);
  --color-green-light: var(--green-light);
  --color-green-light-opacity: var(--green-light-opacity);
  --color-green-gradient: var(--green-gradient);
  --color-red: var(--red);
  --color-red-opacity: var(--red-opacity);
  --color-white: var(--white);
  --color-violet: var(--violet);
  --color-violet-light: var(--violet-light);
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #faefe3;
  --dark: #1D1E1B;
  --dark2: #777775;
  --green: #B5E888;
  --green-hover: #a3d07c;
  --green-light: #B5FF5A;
  --green-light-opacity: #b5ff5ac4;
  --green-gradient: '#B5E888';
  --red: #FF5252;
  --red-opacity: #ff5252d6;
  --white: #ffffff;
  --violet: #375428;
  --violet-light: #8cdb63;
}

body {
  color: var(--dark);
  background: white;
}

button {
  cursor: pointer;
}


/* popover */
:popover-open {
  padding: 0;
  background: transparent;
  height: 100dvh;
  margin: 0;
  margin: auto;
}

::backdrop {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.250);
}