@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faefe3;
  --dark: #1D1E1B;
  --dark2: #777775;
  --green: #12754d;
  --green-hover: #12754dd7;
  --green-light: #B5FF5A;
  --green-light-opacity: #b5ff5ac4;
  --red: #FF5252;
  --white: #ffffff;
}

@font-face {
  font-family: 'Sofia';
  src: url('./fonts/sofia/Sofia-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jaldi bold';
  src: url('./fonts/jaldi/Jaldi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Jaldi regular';
  src: url('./fonts/jaldi/Jaldi-Regular.ttf') format('truetype');
}

body {
  color: var(--dark);
  background: var(--white);
  font-family: 'Jaldi regular', Arial, Helvetica, sans-serif;
  padding: 0 18px;
}

body:has(.panel-card) {
  overflow: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sofia';
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  body {
    padding: 25px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}