@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFFF0;
  --dark: #1D1E1B;
  --green: #B6FF77;
  --red: #FF5252;
  --white: #FDFFF0;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/playfair/PlayfairDisplay-SemiBold.ttf') format('truetype');
}

body {
  color: var(--dark);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  body {
    padding: 25px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.25rem;
  }
}